# If you run "mix test --cover", coverage assets end up here.
/cover

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch


# Created by https://www.gitignore.io/api/elixir,erlang

### Elixir ###
/_build
/cover
/deps
erl_crash.dump
*.ez
*.beam

### Erlang ###
.eunit
deps
*.o
*.plt
ebin/*.beam
rel/example_project
.concrete/DEV_MODE
.rebar

# End of https://www.gitignore.io/api/elixir,erlang
